<div id="<%= dom_id task %>">
  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

  <p>
    <strong>Display text:</strong>
    <%= task.display_text %>
  </p>

  <p>
    <strong>Discription:</strong>
    <%= task.discription %>
  </p>

  <p>
    <strong>Start date time:</strong>
    <%= task.start_date_time %>
  </p>

  <p>
    <strong>End date time:</strong>
    <%= task.end_date_time %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= task.level %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= task.label %>
  </p>

</div>
